* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #131313;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
}
ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}
ul li a {
  text-decoration: none;
  color: #424242;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.banner-content {
  max-width: 840px;
  text-align: center;
  margin: 0px auto;
}
.banner-title {
  margin-top: 50px;
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  margin-top: 10px;
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
.banner-container img {
  width: 100%;
  margin-top: 50px;
}
.btn-primary {
  border-radius: 8px;
  border: none;
  background: #ff900e;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  cursor: pointer;
  margin-top: 30px;
}
/* main style */
main {
  max-width: 1440px;
  margin: 0px auto;
}
.teams-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding-left: 70px;
  padding-right: 70px;
}
.teams-title {
  font-size: 2.8rem;
  font-weight: 700;
}
.teams-title .quick-list {
  color: #727272;
  font-weight: 500;
}
.teams-title .features {
  color: #ff900e;
}
.teams-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
}
.feature-container {
  display: flex;
  margin-top: 130px;
  gap: 140px;
}
.feature-content .teams-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.feature-content p {
  margin-bottom: 30px;
}
.feature-content .feature-card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 20px;
}
.feature-img img {
  height: 90%;
  margin-left: 90px;
}
.ten-years {
  border-radius: 8px;
  background: #ff900e;
  color: white;
  width: 342px;
  padding: 2.8rem;
  text-align: center;
  position: relative;
  bottom: 100px;
}
.ten-years h2 {
  font-size: 4rem;
  font-weight: 700;
  margin: 0px;
}
.ten-years h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0px;
}
.facts-card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}
.facts-card-container .card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  padding: 30px;
}
.card .card-stats {
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card .card-title {
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5px;
}
.sponser-content {
  text-align: center;
  margin-top: 150px;
}
.sponser-img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 130px;
}
.sponser-img img {
  width: 150px;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1250px;
  height: 100px;
  text-align: center;
  border-radius: 8px;
  background: #fff4e7;
  margin: 30px auto;
}

@media screen and (max-width: 576px) {
  header,
  .teams-content {
    padding: 20px;
  }

  nav,
  .teams-container,
  .facts-card-container,
  .sponser-img,
  .footer-container,
  .feature-container {
    flex-direction: column;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .feature-img img {
    width: 90%;
    margin-left: 0;
  }
  .ten-years {
    position: static;
    max-width: 350px;
  }
  .facts-card-container,
  .sponser-img {
    gap: 20px;
  }
  .footer-container {
    width: 350px;
  }
}
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav,
  .teams-container,
  .feature-container {
    flex-direction: column;
  }
}
